.leaflet-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
  }

.marker-hover {
    font-family: "Trirong", serif;
    font-size: 13px;
    margin: 0;
}

.marker-hover p {
    font-size: 12px;
}